.accordian {
	/* border: 1px solid red; */
	border-radius: 4px;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.controls {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-radius: 0px;
	background-color: chocolate;
	cursor: pointer;
	border: none;
    color: black;
	&:hover {
		background-color: darkorange;
	}
}

.content {
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	background-color: rgb(122, 174, 122);
}

.separator {
	height: 8px;
	background-color: transparent;
	margin: 0;
	overflow: hidden;
}
