.example-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191717;
    border-radius: 16px;
    color: white;
    padding: 20px;
}