.upload-file-input-con {
    border: 1px dashed #999;
    width: 400px;
    height: 150px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upload-file-input-con:hover {
    background-color: #f0f0f0;
    scale: 1.02;
    border: 2px dashed #666;
}
.selected-file-con {
    display: flex;
    flex-direction: column;
}

.selected-file {
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.file-info-con {
    display: flex;
    justify-content: space-between;
}
.file-info {
    display: flex;
    gap: 14px;
}
.file-other-info {
    display: flex;
    flex-direction: column;
}
.file-size {
    display: flex;
    gap: 8px;
}

.progress-con {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-top: 8px;
}
.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
}