.show-list {
    /* border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
    height: 100%;
    position: absolute; */

    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 14px;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    position: absolute;
}

.hide-list {
    display: none;
}