.grid-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    margin-top: 20px;
    width: 400px;
    height: 400px;
}
.grid-col {
    display: flex;
    border: 1px solid white;
    width: 100%;
    height: 100%;
}

.grid-cell {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    background-color: gray;
}

.grid-cell[data-on="true"] {
    background-color: rgb(50, 74, 227);
}

.grid-cell.active-cell {
    border: 2px solid yellow;
    background-color: orange;
}