.backdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: chocolate; */
    position: fixed;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    animation: openDialog 0.3s linear forwards;
}

.dialog-container {
    position: relative;
    top: 10px;
    left: 10px;
    max-width: 700px;
    height: 600px;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: white;
    animation: openDialog 0.3s linear forwards;
}

.dialog-close {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    background-color: white;
}
.dialog-close:hover {
    background-color: #f0f0f0;
}
.dialog-close:focus {
    outline-color: red;
  }

.close-modal {
    animation: closeModal 0.3s linear forwards;
}

@keyframes openDialog {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

@keyframes closeModal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}