.star-icon {
    width: 124px;
    height: 124px;
}


.rated {
    fill: orange;
    color: rgb(63, 42, 1);
}

.hRating {
    fill: red;
    color: rgb(63, 42, 1);
}

.str-main-con {
    display: flex;

}
