.raf-circle {
    width: 100px;
    height: 100px;
    background-color:blueviolet;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text {
    color: white;
    font-size: 24px;
    text-align: center;
}