/* CSS Variables for Theme */

/* :root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #cccccc;
    --hover-bg: #e0e0e0;
} */

.light {
	--bg-color: #ffffff;
	--text-color: #000000;
	--border-color: #cccccc;
	--hover-bg: #e0e0e0;
}

.dark {
	--bg-color: #121212;
	--text-color: #ffffff;
	--border-color: #333333;
	--hover-bg: #2a2a2a;
}

.app {
	display: flex;
	gap: 20px;
}

.dark {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.light {
    background-color: var(--bg-color);
    color: var(--text-color);
}