.progress-container {
    width: 100%;
    height: 16px;
    border: grey 1px solid;
    background-color: grey;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    transition: transform 0.3s ease;
    /* width: 10%; */
    height: 100%;
    width: 100%;
    background-color: green;
    border-radius: 4px;
    transform: translateX(-100%);
}