.star-rating-container {
    margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.star {
    background: none;
    border: none;
    cursor: pointer;
    color: #d1d5db; /* Tailwind's gray-300 */
    padding: 0px;
}

.active {
  color: #fb7a24; /* Tailwind's yellow-500 */
  stroke-width: 12px;
  background-color: yellow;
}

.hover {
  color: #0bb3f5; /* Tailwind's yellow-400 */
}

.active.hover {
    background-color: rgb(0, 255, 8);
}